li {
  border-bottom: aliceblue 1px solid;
  max-width: 768px;
  padding: 2px 0;
  display: flex;
  justify-content: space-between;
}

.taskBox {
  flex-basis: 80%;
  margin-left: 38px;
}

.taskColorMark {
  width: 56px;
  height: 6px;
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
  padding: 0 0 9px 2px;
}

.creationDate {
  font-size: 9px;
  margin-left: 3px;
} 

.active .creationDate {
  color: lightslategrey;
}

.archive .creationDate {
  border: 1px solid lightgrey;
  background-color: #ccc;
  color: darkslategray;
}

.isFavorite {
  background: #f1da36; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f1da36 2%, #fefcea 52%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f1da36 2%,#fefcea 52%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f1da36 2%,#fefcea 52%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fefcea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.favorite {
  visibility: hidden;
  cursor: pointer;
}

.favorite:before {
  content: "\2606";
  position: absolute;
  font-size: 19px;
  visibility: visible;
  line-height: 0.7;
  color: darkslategray;
}

.favorite:checked:before {
  content: "\2605";
  position: absolute;
  color: orange;
}

.taskTitle {
  text-indent: 9px;
  overflow-wrap: break-word;
  overflow: hidden;
  display: block;
}

.active .taskTitle {
  color: #5656ea;
}

.archive .taskTitle {
  text-decoration: line-through;
  color: gray;
}

.taskControl {
  display: flex;
  flex-basis: 5%;
  flex-wrap: wrap;
  margin-right: 7%;
  flex-direction: row-reverse;
  align-content: baseline;
}

.taskBtn {
  height: 22px;
  background: transparent;
  border: 1px solid deepskyblue;
  margin: 1px auto;
  width: 22px;
}

.taskBtn:hover {
  cursor: pointer;
  background-color: deepskyblue;
  color: white;
}

.checkContainer {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  flex-basis: 12%;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  margin-left: 10px;
  background-color: #eee;
}

.checkContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  position: absolute;
  display: none;
}

.checkContainer input:checked ~ .checkmark:after,
.checkContainer:hover input ~ .checkmark:after {
  display: block;
}

