header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  height: 110px;
  z-index: 1;
}

.logo {
  width: 50px;
  float: left;
  margin: 15px;
}

.inputGroup {
  position: relative;
  font-size: 20px;
  margin-bottom: 5px;
  max-width: 768px;
}

.taskInput {
  width: 90%;
  margin-left: 1%;
  border: none;
  border-bottom: 1px slateblue solid;
  padding-left: 5px;
}

.taskInputBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  padding-left: 20px;
  margin-right: 8%;
  font-size: 16px;
  background-color: transparent;
  color: gainsboro;
}

.taskColorPicker {
  position: absolute;
  bottom: 0;
  right: 50px;
  border: none;
  padding-left: 20px;
  margin-right: 8%;
  font-size: 16px;
  background-color: transparent;
  color: gainsboro;
}

.taskInput:not(:placeholder-shown) ~ .taskInputBtn,
.taskInput:not(:placeholder-shown) ~ .taskColorPicker,
.taskInput:focus ~ .taskColorPicker,
.taskInput:focus ~ .taskInputBtn {
  bottom: 20px;
}

.taskInputBtn:hover {
  cursor: pointer;
}
