.logo {
    width: 65px;
    float: left;
    padding: 10px;
}

header > h1 {
    margin-bottom: -11px;
    top: -15px;
    position: relative;
}

.control > button {
  height: 25px;
  width: 85px;
  margin-right: 3px;
  border: 1px solid rgb(13, 141, 154);
  background-color: white;
  color: darkblue;
  font-size: 16px;
}

.control > button:hover {
    background-color: rgb(13, 141, 154);
    color: white;
    cursor: pointer;
}

  .taskInput {
    width: 97%;
    height: 35px;
    border: none;
    border-bottom: 2px solid red;
    padding-left: 10px;
    font-size: 20px;
    outline: none;
  }
  
  .taskInput:focus {
    border-bottom: 2px solid #555;
  }
  
  .taskInputLabel {
    position: absolute;
    top: 0;
    left: 20%;
    font-size: var(--font-size-small);
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
  }
  
  .taskInput:placeholder-shown + label {
    opacity: 0;
    transform: translateY(1rem);
  }
  