.App {
  margin: 0 auto;
  height: -webkit-fill-available;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  overflow: auto;
  height: -webkit-fill-available;
}

ul {
  display: flex;
  flex-direction: column-reverse;
  list-style: none;
  padding: 5px;
}

li {
  display: flex;
}

button {
  background-color: white;
  color: black;
  border: 2px solid rgb(13, 141, 154);
  border-radius: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background-color: rgb(13, 141, 154);
  color: white;
  cursor: pointer;
}